.JoinBtnNotActive{
    background-color: green;
}
.JoinBtnActive{
    background-color: red;
}
.ExerciseCollection{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}
.ExerciseItem{
    background-color: rgb(90, 202, 140);
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    border: black 2px groove;
}
