header{
    padding: 5px;
    background-color: rgb(24, 199, 62);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header>div>span{
    margin: 10px;
    font-size: 2rem;
    border: black 3px groove;
}   

