body{
    margin: 10px;
}
.Content{
    display: flex;
    justify-content: center;
}
.Collection{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
.Item{
    background-color: rgb(90, 202, 140);
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    border: black 2px groove;
}