.InfoContainer{
    border: 2px black solid;
    background-color: rgb(90, 202, 140);
    color: white;
    width: 50%;
}
.InfoContainer > div{
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}

